@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter',sans-serif;
}

img{
    display: block;
    width: 100%;
    height: auto;
    float: right;
    max-width: 400px;
}

h2{
    font-size: 42px;
}
p{
    font-size: 14px;
    font-weight: 400;
}

article{
    padding-top: 72px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #85DCFF;
    max-width: 1050px;
}
header{
    padding-bottom: 27px;
}
.article-text{
    padding-bottom: 30px;
}
.buttons{
    display: flex;
    gap:15px
}
.button{
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px 15px;
}
.primary{
    color: white;
    background-color: #42AA59;
}
.secondary{
    color: black;
}
.primary:hover{
    background-color: black;
}
article{
    display: flex;
    flex-direction: row;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 90px;
}